* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
}

.colgap{
    flex: 1;
}

.header_container {
    flex: initial;
    margin: 15px;
    width: 1100px;
}

.navigation {
    font-size: 30px;
    display: flex;
}

.navigation div {
    align-self: center;
    padding-right: 25px;
    
}

.link1 {
    margin-left: auto;
}

p.low_opa {
    font-size: 20px;
    color: #e5e7eb;
}

.header_banner {
    display: flex;
    margin: 60px 0;
    justify-content: space-around;
}

.company_container {
    padding-right: 70px;
    flex: 2;
}

h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

button.signup {
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
}

.long_img {
    align-content: flex-end;
    flex: 3;
}

.container1 {
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
}

.con1 {
    flex: initial;
    margin: 15px;
    width: 1100px;
}

.item_container {
    display: flex;
    height: 320px;
    justify-content: space-around;
}

.titletext {
    padding: 50px 0 70px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.item_frame {
    height:250px;
    width: 200px;

}

.blue_box {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    border: 8px solid #3882f6;
    margin: auto;
}

p.img_label {
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container2 {
    display: flex;
    background-color: #e5e7eb;
    color: black;
    justify-content: center;
}
.quotainer {
    width: 1100px;
    flex: initial;
}

.quote_contents {
    width: 1100px;
    padding: 100px 70px 100px 120px;
    
    
}

p.quote {
    font-size: 36px;
    font-style: italic;
    color: #363636;
}

p.credit {
    padding-top: 20px;
    font-size: 23px;
    text-align: right;
    font-weight: 600;
    color: #363636;
}

.container3 {
    display: flex;
    background-color:white;
    color: white;
}

.signup_container {
    border: 3px solid green;
    width: 1100px;
    flex: 1;
}

.blue_area {
    margin: 120px 0;
    display: flex;
    padding: 50px 0;
    background-color: #3882f6;
    border-radius: 15px;
    width: 1100px;
}

.bluegap{
    border: 5px solid black;
    flex: 1;
}

div.blue_contents {
    display:flex;
}

div.left_text {
    font-size: 23px;
    width: 900px;
    flex: auto;
}

span.smol_text {
    font-size: 18px;
}

.aligntainer {
    margin-left: auto;
    align-items: center;
}

button.lower_sign{
    margin-top: 7px;
    padding:6px 24px;
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid white;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
}

p.footer_text{
    padding: 50px;
}